<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUAuditAPIBaseURL</key>
	<string>https://mara-xyloid-dortha.ngrok-free.dev</string>
	<key>NSUAuditGoogleIOSClientID</key>
	<string>336958427291-b9ufcm8sus5shd7ullddg0bcgkul863l.apps.googleusercontent.com</string>
	<key>NSUAuditOAuthCallbackScheme</key>
	<string>com.googleusercontent.apps.336958427291-b9ufcm8sus5shd7ullddg0bcgkul863l</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NSU Audit OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.336958427291-b9ufcm8sus5shd7ullddg0bcgkul863l</string>
				<string>nsuaudit</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
